<section id="faq" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Is this for me?</h2>
                <h3 class="section-subheading text-muted">A few frequently asked questions</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul class="timeline">
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/1.svg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>#1</h4>
                                <h4 class="subheading">Who can come?</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Anyone! People of all ages are welcome at the dance. Young children...please bring an adult.</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/2.svg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>#2</h4>
                                <h4 class="subheading">What's the cost?</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">$10. $5 if you help with setup or takedown, free if you do both or sit at the door for 30 minutes. First time dancers get in for free, except for the 1st Friday of the month. </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/3.svg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>#3</h4>
                                <h4 class="subheading">What if I don't know how to dance?</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Not a problem. Come as you are, move as you like. We work hard to make it a safe and enoyable space.</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/4.svg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>#4</h4>
                                <h4 class="subheading">Wait, where's this thingy again?</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">The ILC (Integrative Learning Center) is located on North Pleasant Street, near the center of campus. If you can't find it, the address is 650 N Pleasant St, Amherst, MA 01002. See you there!</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
